.products-per-category-container{
    min-height: 100vh;
}
.products-per-category-content{
    display: flex;
    width: 80%;
    height: 200vh;
    margin: 50px 10%;
    position: relative;
}
.products-per-category-content .filter-products-container{
    width: 350px;
    height: 600px;

    background-color: var(--principal-color);
    margin-right: 25px;

    position: sticky;
    top: 50px;
    border-radius: 20px;
}
.products-per-category-content .products-content{
    width: calc(100% - 350px);
}
.products-per-category-content .products-content .header-products-content{
    width: 100%;
    display: flex;
    align-items: center;

    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}
.products-per-category-content .products-content .header-products-content .icon-container{
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    margin-right: 10px;
}
.products-per-category-content .products-content .header-products-content ion-icon,
.products-per-category-content .products-content .header-products-content h1{
    font-size: 3rem;
}
.products-per-category-content .products-content .products{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
}