.landing-container{
    height: 100vh;
}
.landing-container .slide-container{
    display: flex;
    align-items: center;
    height: 450px;
    margin: 50px 150px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.landing-container .slider{
    height: 100%;
    display: flex;
    transition: all 0.7s;
}
.landing-container .slider img{
    filter: brightness(0.7);
}
.landing-container .slide-container .previous-button, 
.landing-container .slide-container .next-button{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;

    border: 1px solid rgba(128, 128, 128, 0.205);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.landing-container .slide-container .previous-button ion-icon, 
.landing-container .slide-container .next-button ion-icon{
    font-size: 1.5rem;
    color: var(--font-color);
}
.landing-container .slide-container .previous-button{
    left: 80px;
    display: none;
}
.landing-container .slide-container .next-button{
    right: 80px;
}
.landing-container .most-sold{
    height: 100vh;
    padding: 50px 150px;
}
.landing-container .most-sold h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
.landing-container .most-sold .products-most-sold{
    display: flex;
    justify-content: space-between;
    align-items: center;
}