<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/66b8c258c0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/byn2tfa.css">
    <link rel='stylesheet' href='/styles/admin/categorias.css' />
    <title>Admin</title>
</head>
<body>
    <div class="app">
        <div class="message-request">
            <p></p>
        </div>
        <header class="header">
            <div class="container-logo">
                <a href="/">
                    <img src="/assets/logo.png" alt="">
                </a>
            </div>
        </header>
        <div class="aside">
            <ul>
                <li class="selected">Categorias</li>
                <li><a href="/admin/produtos">Produtos</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="categoria">
                <form class="form">
                    <input type="hidden" class="input-id">
                    <label for="nome">Nome</label>
                    <input type="text" class="input-nome" id="nome" name="nome" placeholder="Nome...">
                    <button class="salvar">Salvar</button>
                </form>
                <div class="quantidade-categorias">
                    <img src="/assets/tag.png" alt="">
                </div>
                <table class="users">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </table>
            </div>
        </div>
        <footer class="footer"></footer>
    </div>
    <script src="/js/admin/categorias.js"></script>
</body>
</html>