.product{
    width: 300px;
    min-height: 520px;
    padding: 10px;

    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;

    margin-right: 10px;
    position: relative;
}
.product .add-to-favorite{
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background-color: initial;

    position: absolute;
    top: 15px;
    right: 15px;

    transition: background-color 0.3s;
}
.product .add-to-favorite:hover{
    background-color: rgba(0, 0, 0, 0.137);
}
.product .add-to-favorite ion-icon{
    font-size: 1.2rem;
    color: black;
}
.product:hover{
    background-color: var(--secondary-color);
    transform: scale(1.02);
}
.product img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product .product-info h2{
    margin-bottom: 10px;
}
.product .product-info p{
    width: fit-content;
    min-height: 70px;
    word-break: break-all;
    margin-bottom: 20px;
}
.product .product-info .price-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product .product-info .price-content h2{
    margin: 0px;
    font-size: 1.4rem;
}
.product .product-info .price-content button{
    height: fit-content;

    display: flex;
    align-items: center;

    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;

    font-size: 1rem;

    transition: background-color 0.3s;
    background-color: var(--principal-color);
}
.product .product-info .price-content button:hover{
    background-color: var(--dark-principal-color);
}
.product .product-info .price-content button ion-icon{
    font-size: 1.5rem;
    margin-right: 5px;
}