<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/66b8c258c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/byn2tfa.css">
    <link rel="stylesheet" href="/styles/carrinho.css">
    <title>Carrinho</title>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="/">
                <img src="/assets/logo.png" alt="">
            </a>
        </div>
    </header>
    <div class="container">
        <h1>Carrinho</h1>
        <div class="wrapper">
            <div class="produtos">
                <div class="legend-produtos">
                    <p class="produto-text">Produto</p>
                    <p>Valor Unitário</p>
                    <p>Quantidade</p>
                    <p>Valor Total</p>
                </div>
                <div class="produtos-carrinho"></div>
            </div>
            <div class="total">
                <div class="cupom">
                    <input class="cupom-codigo" placeholder="Cupom de desconto" type="text">
                    <button class="aplicar-cupom">Aplicar</button>
                </div>
                <div class="info-compra">
                    <div class="quantidade">
                        <p>Itens no carrinho:</p>
                        <p class="num-itens-carrinho">0</p>
                    </div>
                    <div class="total-nota">
                        <p>Total: </p>
                        <p class="total-carrinho">R$ 0</p>
                    </div>
                </div>
                <button class="finalizar-pedido">Finalizar Pedido</button>
            </div>
        </div>
    </div>
    <script src="/js/carrinho.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>