<!DOCTYPE html>
<html>
  <head>
    <title>Loja Virtual</title>
    <script src="https://kit.fontawesome.com/66b8c258c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/byn2tfa.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div class="logo-container">
          <img src="/images/logo.png" alt="">
      </div>
      <div class="button-container">
          <div class="cart">
            <div class="number-itens-cart">0</div>
            <a href="/carrinho">
              <i class="fas fa-shopping-cart"></i>
              Carrinho
            </a>
            <div class="dropdown">
              <div class="shopping"></div>
              <div class="total">
                <p>Total</p>
                <p>R$ 0.00</p>
              </div>
            </div>
          </div>
          <div class="admin">
            <button class="btn-admin"><i class="fas fa-cog"></i></button>
            <div class="admin-dropdown">
              <a href="/admin"><i class="fas fa-tag"></i> Categorias</a>
              <a href="/admin/produto"><i class="fas fa-store"></i> Produtos</a>
            </div>
          </div>
      </div>
    </header>
    <div class="container">
      <h1>Categorias</h1>
      <div class="categorias"></div>
      <div class="imagens">
        <div class="imagem">
          <h1>Produtos Gamer</h1>
        </div>
        <div class="imagem">
          <h1>Produtos de Culinária</h1>
        </div>
      </div>
      <div class="categoria-filter"></div>
      <h1>Ofertas</h1>
      <div class="ofertas">
      </div>
    </div>
    <script src="/scripts/script.js"></script>
    <script src="/scripts/util.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  </body>
</html>
