<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/66b8c258c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/byn2tfa.css">
    <link rel="stylesheet" href="/stylesheets/produtoId.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="logo-container">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
        <div class="button-container">
            <div class="cart">
                <div class="number-itens-cart">0</div>
                <a class="a-cart" href="/carrinho">
                  <i class="fas fa-shopping-cart"></i>
                  Carrinho
                </a>
                <div class="dropdown">
                  <div class="shopping"></div>
                  <div class="total">
                    <p>Total</p>
                    <p>R$ 0.00</p>
                  </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-produto">
        <div class="produto">
            <div class="produto-imagem">
               <img class="imagem" src="https://img.terabyteshop.com.br/produto/g/placa-de-video-gigabyte-geforce-rtx-2080-super-gaming-oc-8gb-gddr6-256bit-gv-n208sgaming-oc-8gc_83065.jpg" alt="">
            </div>
            <div class="produto-info">
                <h1 class="nome">Placa de Vídeo Gigabyte NVIDIA GeForce RTX 2080 Super Gaming OC, 8GB, GDDR6 - GV-N208SGAMING OC-8GC</h1>
                <p class="descricao"></p>
                <h1 class="preco">R$ 4099.90</h1>
                <div class="info-venda">
                    <div class="formas-pagamento">
                        <i class="far fa-credit-card"></i>
                        <p class="parcelas">12x Preço</p>
                    </div>
                    <div class="frete">
                        <i class="fas fa-truck"></i>
                        <p>Envio para todo o país</p>
                    </div>
                </div>
                <div class="grupo-quantidade">
                    <p>Quantidade:</p>
                    <input class="quantidade" type="number" value="1" min="1">
                </div>
                <div class="grupo-button">
                    <button class="comprar">Comprar agora</button>
                    <button class="add-carrinho">Adicionar ao carrinho</button>
                    <button class="add-favoritos"><i class="far fa-heart"></i></button>
                </div>
                <div class="qualidade-loja">
                    <div class="compra-segura">
                        <i class="fas fa-shield-alt"></i>
                        <p>Compra segura com garantia de devolução e reembolso</p>
                    </div>
                    <div class="loja-premiada">
                        <i class="fas fa-trophy"></i>
                        <p>Loja premiada na internet brasileira</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mais-ofertas">
            <h1>Mais Ofertas</h1>
            <div class="ofertas"></div>
        </div>
    </div>
    <script src="/scripts/produtoId.js"></script>
    <script src="/scripts/util.js"></script>
</body>

</html>