.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container .form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 5px;
}
.login-container .form-login .logo{
    width: 335px;
    margin-bottom: 50px;
}
.login-container .form-login .input-container{
    width: 100%;
}
.login-container .form-login .input-container label{
    font-weight: 300;
    font-size: 1.5rem;
}
.login-container .form-login .input-container input{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 15px 0;
    border: 1px solid rgba(148, 148, 148, 0.363);
    background: initial;
    border-radius: 50px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 1.3rem;
    outline: none;
    font-weight: 300;
    transition: border-color 0.3s;
}
.login-container .form-login .input-container input:focus{
    border-color: var(--principal-color);
}
.login-container .form-login .input-container input::placeholder{
    color: var(--font-color);
}
.login-container .form-login button{
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    cursor: pointer;
    background: var(--principal-color);
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    margin: 15px 0 10px 0;
}
.login-container .form-login button:hover{
    background: var(--dark-principal-color);
}
.login-container .form-login a{
    font-size: 0.8rem;
}