*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}
:root{
    --principal-color: #E7A117;
    --dark-principal-color : #c78708;
    --primary-color: #303841;
    --secondary-color: #3A4750;
    --font-color: #EEEEEE;
}
body{
    background-color: var(--primary-color);
}