.header{
    height: 100px;
    padding: 0px 10%;
    background-color: var(--principal-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 200px;
}
.header .info-container{
    display: flex;
}
.header .logout, 
.header .admin,
.header .cart,
.header .favorites, 
.header .user{
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 15px;
    padding: 10px;
    position: relative;
    border: none;
    background-color: initial;
}
.header .logout ion-icon,
.header .admin ion-icon,
.header .cart ion-icon,
.header .favorites ion-icon,
.header .user ion-icon {
    font-size: 1.8rem;
    color: var(--font-color);
}
.header .logout:hover, 
.header .admin:hover,
.header .cart:hover,
.header .favorites:hover,
.header .user:hover{
    background-color: rgba(0, 0, 0, 0.137);
}
.header .logout{
    margin-right: 0;
}
.header .number{
    min-width: 20px;
    height: 20px; 

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--font-color);

    position: absolute;
    right: 0;
    top: 5px;

    font-size: 0.8rem;
}